<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/public/css/formulario.css">
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    
        <title>Ayuda</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400; 700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e32b1dc814.js" crossorigin="anonymous"></script>
    
    </head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/public/images/logo-mercado-liebre.svg" class="logo">
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fa fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <form action="/crear producto" method="POST" class="create-form">
            <h2>¿Cómo podemos ayudarte?</h2>
            <div class="control-form">
                <label>Nombre del producto:</label>
                <input type="text" name="nombre" class="control">
            </div>
            <div class="control-form">
                <label>Precio del producto:</label>
                <input type="number" name="precio" placeholder="123.99" class="control">
            </div>
            <div class="control-form">
                <label>Categoría:</label>
                <select name="Categoría" class="control">
                    <option value="hogar">Hogar</option>
                    <option value="electro">Electrto</option>
                    <option value="indumentraria">Indumentaria</option>
                </select>
            </div>
            <div class="control-form">
                <label>Descripción:</label>
                <textarea name="descripción" class="control"></textarea>
            </div>
            <div class="control-form">
                <label>Está en oferta:</label>
                <input type="radio" name="oferta-si">Si
                <input type="radio" name="oferta-No">No
            </div>
            <button type="submit" class="boton-form">Enviar</button>
            <button type="submit" class="boton-form">Borrar</button>
        </form>
    </div>
</body>
</html>

